.btn-custom {
    background-color: #fedc07;
    border-color: #ebc200;
    color: #17317f;
}

.left-sidebar li { 
    padding: 0; 
    border-bottom: 2px solid #17317f;
}

.left-sidebar li a { display: block; padding: 1em;}

.list-group-item.active {
    background-color: #17317f;
    border: none;
}

.bs-placeholder {
    background-color: #fff;
}

#dropdownMenuButton {
    margin: 0;
    text-align: left;
    color: #495057;
}

.calendar-label-absolute-right {
    float: right;
    right: 1em;
    position: absolute;
}
