<div class="search-bar pt-5 mb-4">
    <div class="row">
        <div class="col-lg-3 d-flex align-items-center form-group">

        </div>
        <div class="col-lg-4 d-flex align-items-center form-group">
            <!-- <input type="text" name="search" placeholder="What are you searching for?" class="form-control border-0 shadow-0"> -->
            <button class="btn form-control btn-form-control bs-placeholder" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Departure Airport
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
            <a  *ngFor="let hotel of hotels" class="dropdown-item"(click)="filterByDeparture(hotel.departing_from)">{{ hotel.departing_from }}</a>
            </div>
        </div>
        <div class="col-lg-3 d-flex align-items-center form-group">
            <div class="input-label-absolute input-label-absolute-right w-100">
                <input [matDatepicker]="myDatepicker" placeholder="Select start date" class="form-control" (dateChange)="getSelecteDate($event)">
            </div>
            <div class="input-label-absolute calendar-label-absolute-right">
                <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker> 
            </div>
        </div>
        <div class="col-lg-2">
            <button (click)="clear()" class="btn btn-primary btn-custom btn-block rounded-xl">Clear Filters</button>
        </div>
    </div>
</div>

<div class="row mt-4">
    <!-- get the loction filter working -->
    <div class="col-md-3 left-sidebar mb-4">
        <ul class="list-group droptrue">
            <li class="list-group-item" [ngClass]="{'active' : sortParam == 'name'}">
                <a (click)="sort('name')">sort <strong>alphabetically</strong></a>
            </li>            
            <li class="list-group-item" [ngClass]="{'active' : sortParam == 'price'}">
                <a (click)="sort('price')">sort by <strong>price</strong></a>
            </li>            
            <li class="list-group-item" [ngClass]="{'active' : sortParam == 'ratings'}">
                <a (click)="sort('ratings')">sort by star <strong>rating</strong></a>
            </li>
        </ul>
    </div>
    
    <div class="col-md-9 listing">
        <app-details [filteredHotels]="filteredHotels"></app-details>
    </div>
</div>

<p class="mb-5"></p>