p {
    background-color: #fedc07; 
    border-bottom: 3px solid #ebc200; 
    border-radius: 0.2em; color: #17317f;
}

.hotel-name { 
    background-color: #fedc07; 
    border-bottom: 3px solid #ebc200; 
    border-radius: 0.2em; color: #17317f;
}

